/* Animación de saltar */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Salto hacia arriba */
  }
  60% {
    transform: translateY(-5px); /* Segundo pequeño salto */
  }
}

/* Clase para el efecto de saltar */
.animate-bounce {
  animation: bounce 2s infinite;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #293136; /* El color del triángulo */
}
